target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Eclipse ###
.settings/
.project
.classpath

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Env / secrets ###
.env
*.local
